.container{
    display: flex;
    flex-wrap: wrap;
    
    padding: 90px;
    align-content: space-between;
    background-color: #E4DCCF;
   
}
.landing{
    text-align: center;
    background-image: url("image.jpg");
    height: 300px;
    padding: 200px;
    font-family:fantasy;
}
.landing-inside{
   padding: 30px;
   height: 300px;
   background-color: #319DA0;
}
.card{
   padding: 10px;
   margin: 20px;
   text-align: left;
   background-color:#2C3333;
   color: #319DA0;
   max-width: 230px;
}
.onMouse{
    padding: 10px;
    margin: 20px;
    text-align: left;
    background-color:#2C3333;
    color: #319DA0;
    max-width: 230px;
    opacity: 60%;
}

.card-image{
    max-width: 210px;
    max-height: 295px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    margin-top:0px;
}